In [1]:
import pandas as pd

# Creating Data

In [2]:
dict_ = {'yes':[50,21], 'no':[131,2]}

In [4]:
pd.DataFrame(dict_)

   yes   no
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [7]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [9]:
pd.DataFrame(pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A'))

            Product A
2015 Sales         30
2016 Sales         35
2017 Sales         40

# Exercise

In [13]:
import pandas as pd
pd.set_option('max_rows', 5)
print("Setup complete.")

Setup complete.

In [14]:
fruits = pd.DataFrame({'Apples':[30], 'Bananas':[21]})

In [15]:
fruits

   Apples  Bananas
0      30       21

In [16]:
fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index=['2017 Sales', '2018 Sales'])

In [17]:
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [20]:
ingredients = pd.Series({'Flour':'4 cups', 'Milk':'1 cup', 'Eggs': '2 large', 'Spam': '1 can'}, dtype = 'object', name = 'Dinner')

In [21]:
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object